<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Details</h4>
        </div>
        <div class="card-body">
          <div class="">
            <table class="table table-striped">
              <tr>
                <td>Service Type</td>
                <td>{{ otherFacilities.serviceType }}</td>
              </tr>
              <tr>
                <td>Price</td>
                <td>{{ otherFacilities.price }}</td>
              </tr>
              <tr>
                <td>Service Location</td>
                <td>{{ otherFacilities.serviceLocation }}</td>
              </tr>
              <tr>
                <td>Service Description</td>
                <td>{{ otherFacilities.serviceDescription }}</td>
              </tr>

            </table>
        </div>
    </div>
</div>
</div>

</div>