<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4 class="card-title">Details</h4>
          <button (click)="downloadExcel()" class="btn"  style="background-color: rgb(162, 6, 6);">Download XLSX</button>
        </div>
        <div class="card-body">
          <div class="">
            <table class="table table-striped">
              <tr>
                <td>First Name</td>
                <td>{{ user.firstName }}</td>
              </tr>
              <tr>
                <td>Last Name</td>
                <td>{{ user.lastName }}</td>
              </tr>
              <tr>
                <td>Address</td>
                <td>{{ user.address }}</td>
              </tr>
              <tr>
                <td>Age</td>
                <td>{{ user.age }}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{ user.email }}</td>
              </tr>
              <tr>
                <td>Phone</td>
                <td>{{ user.phone }}</td>
              </tr>
            </table>
        </div>
    </div>
</div>
</div>

</div>

<driver-guide-reviews-cmp [userId] = "id"></driver-guide-reviews-cmp>