    /* Page header */
    .page-header {
        position: relative;
        height: 100vh; /* Adjust as needed */
        background-size: cover;
        background-position: center;
        text-align: center;
        color: #fff;
    }
    
    .page-header .title {
        font-size: 3rem;
    }
    
    /* Social media buttons */
    .btn-primary {
        background-color: #007bff;
        color: #fff;
        border-color: #007bff;
        padding: 0.5rem 1rem;
        margin: 0.5rem;
    }
    
    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
    
    /* Section headers */
    .section {
        padding: 4rem 0;
    }
    
    .section-about-us .title,
    .section-team .title,
    .section-contact-us .title,
    .footer .copyright {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    
    /* Team member cards */
    .team-player {
        margin-bottom: 2rem;
    }
    
    .team-player img {
        width: 150px; /* Adjust as needed */
        height: 150px; /* Adjust as needed */
        border-radius: 50%;
    }
    
    .team-player .title {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    
    .team-player .category {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    
    .team-player .description {
        font-size: 0.9rem;
    }
    
    .team-player .btn-primary {
        margin-top: 1rem;
    }
    
    /* Contact form */
    .input-group,
    .textarea-container {
        margin-bottom: 1.5rem;
    }
    
    .input-group-text {
        background-color: #fff;
        border: 1px solid #ced4da;
    }
    
    .form-control {
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }
    
    .send-button {
        margin-top: 2rem;
    }
    
    /* Footer */
    .footer {
        background-color: #f8f9fa;
        padding: 2rem 0;
        color: #495057;
        text-align: center;
    }
    
    .footer ul {
        list-style: none;
        padding: 0;
    }
    
    .footer ul li {
        display: inline-block;
        margin-right: 1rem;
    }
    
    .footer ul li:last-child {
        margin-right: 0;
    }
    
    .navbar-transparent {
        background-color: transparent !important;
        transition: background-color 0.3s ease;
    }
    
    .navbar-opaque {
        background-color: #007bff !important;
    }
    
    .card-header {
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        height: 300px; 
        max-height: 300px; 
    }
    
    .card {
        height: 600px; 
        max-height: 600px; 
    }

    .star-rating .star {
        font-size: 30px;
        color: #ccc;
      }
      
    .star-rating .star.highlighted {
        color: #ffcc00;
    }
      
    
.booking-form {
    background-color: #4b0082;
    padding: 20px;
}


.booking-player .form-group {
    display: inline-block; 
    width: 45%; 
    margin-right: 5%; 
}

.booking-player label {
    display: block; 
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff; 
}


.booking-player input[type="date"] {
    display: block; 
    width: 100%; 
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}


.booking-player button[type="submit"] {
    display: inline-block; 
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    vertical-align: top; 
}

.booking-player button[type="submit"]:hover {
    background-color: #0056b3;
}