<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Details</h4>
        </div>
        <div class="card-body">
          <div class="">
            <table class="table table-striped">
              <tr>
                <td>Name</td>
                <td>{{ travelInsurance.name }}</td>
              </tr>
              <tr>
                <td>Price</td>
                <td>{{ travelInsurance.price }}</td>
              </tr>
              <tr>
                <td>Coverage Type</td>
                <td>{{ travelInsurance.coverageType }}</td>
              </tr>
              <tr>
                <td>Coverage Limit</td>
                <td>{{ travelInsurance.coverageLimit }}</td>
              </tr>
              <tr>
                <td>Deductible</td>
                <td>{{ travelInsurance.deductible }}</td>
              </tr>
              <tr>
                <td>Coverage Period</td>
                <td>{{ travelInsurance.coveragePeriod }}</td>
              </tr>
              <tr>
                <td>Description</td>
                <td>{{ travelInsurance.description }}</td>
              </tr>
              <tr>
                <td>Restriction</td>
                <td>{{ travelInsurance.restriction }}</td>
              </tr>
              <tr>
                <td>Additional Info</td>
                <td>{{ travelInsurance.additionalInfo }}</td>
              </tr>
            </table>
        </div>
    </div>
</div>
</div>

</div>